rd.neednet=1 console=ttysclp0 coreos.autologin coreos.inst.install_dev=dasda coreos.live.rootfs_url=http://{{ mediaServerIP }}/{{ mediaDir }}/{{ rootfs_img }} coreos.inst.ignition_url=http://{{ mediaServerIP }}/{{ clusterName }}/{{ nodeType }}.ign ip={{ ipAddr }}::{{ gateway }}:{{ netmask }}:{{ inventory_hostname }}.{{ clusterName }}::enc{{ nicdev }}:none nameserver={{ dns1 }} rd.znet=qeth,0.0.1000,0.0.1001,0.0.1002,layer2=1,portno=0 zfcp.allow_lun_scan=1 rd.dasd=0.0.0201